src/__pycache__
src/
visual_behavior_glm/__pycache__/

# vs code
.idea/
.vscode/

#notebook checkpoints
.ipynb_checkpoints/

# untitled notebooks
Untitled*

# pyc files
*.pyc

visual_behavior_glm.egg-info/PKG-INFO

visual_behavior_glm.egg-info/
